    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    html,body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:14px;
    color:#404040;
    letter-spacing:.1px
    }

    *{
    font-family: 'Poppins', sans-serif;
    }

    .well{
    border:1px solid #fafafa !important;
    background-color: #fff;
    margin: 0; overflow: hidden;
    }

    .divider-1 { padding: 25px 0 15px 0; }


    .box_feat_home{      
    padding-bottom: 20px;
    line-height: 30px;
    }

    .box_feat_home h3{
    font-size: 18px !important;
    font-weight: bold;
    }

    .box_feat_home p{
    font-size: 14px !important;
    }

    /***** Top menu *****/

    .navbar {
    margin-bottom: 0 !important;
    background: #fff !important;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
    }
/**/
    .navbar-inverse ul.navbar-nav li a:hover { color: #e3e2de; border: 0; }
    .navbar-inverse ul.navbar-nav li a:focus { color: #e3e2de; outline: 0; border: 0; }

  /**/
    .dede{
    background-color:#e3e2de;color: #333; padding: 20px;border-radius: 0px !important;
    }

     .fefe{
    background-color:gold;color: #000; padding: 20px;border-radius: 0px !important;
    }

    .dedde{
    background-color:#fbf2de;color: #333; text-align: center;padding: 20px;border-radius: 0px !important;
    }

    .meme{
    background-color:#78cc0d;border-radius: 0px;padding: 30px;color: #000;text-align: center !important;
    }

    .pepe{
    background-color:#fff;padding: 30px;text-align: center;border-radius: 0px;border: 1px solid #009900;
    }
    .nene{background-color: #D3DCE3;border-radius: 5px;padding: 20px;color: #000;text-align: center !important;}
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0; }

    .pagination {
    clear: both;
    padding: 0;
    }
    .pagination li {
    display:inline;
    }
    .pagination a {
    border: 1px solid #D5D5D5;
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
    margin:2px;
    }
    .pagination a:hover, .pagination a:active {
    background:#efefef;
    }
    .pagination span.current {
    background-color: #687282;
    border: 1px solid #D5D5D5;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 4px 8px;
    text-decoration: none;
    margin:2px;
    }
    .pagination span.disabled {
    border: 1px solid #EEEEEE;
    color: #DDDDDD;
    margin: 2px;
    padding: 2px 5px;
    }
