

 html, body {margin: 0; }
body{
    outline: none !important;       
    background:url(<?php echo URL ?>static/assets/img/message.png) !important;
    background-repeat: no-repeat;     
    background-position: center center;
    background-attachment: fixed;       
    box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.9);
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
   font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:14px;
    color:#404040;
    letter-spacing:.1px
}



a:hover {
    color: #fff !important;
}

/*Noto Sans*/


.
.top-nav .dropdown-menu a{
  color:#000 !important;
}

.panels i {
    color: rgb(160, 201, 109);
}

.panels h6 {
    color: #000e29;
    font-weight: bold;
  
}



@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
  
}

#page-wrapper {
   /* width: 100%;*/
    padding: 0;
    
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}






.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}


.white-box{
border-top:2px solid red;
border-radius: 5px;
background: #ffffff;
padding: 40px;
box-shadow:  4px 4px 10px #d9d9d9; 
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: orange;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        height: 700px;
        background-color: #333;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */
